@use 'variaveis' as *;

section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;

  .game-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: $font-title;
    gap: 2rem;
    background: $card-color;
    width: 400px;
    align-items: center;
    overflow: hidden;
    border-radius: 1.5rem;

    img {
      width: 100%;
    }

    .game-info {
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      text-align: justify;
      padding: 5px 1.5rem;
      h1 {
        font-size: 2rem;
      }

      strong {
        font-size: 1.3rem;
      }
    }
  }
}
