@use 'variaveis' as *;

section {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  .game-header {
    display: flex;
    justify-content: space-around;
    font-family: $font-title;
    gap: 2rem;
    background: $card-color;
    width: 800px;
    align-items: center;
    overflow: hidden;


    img {
      width: 100%;
    }
  }
}
