section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem;

  .game-header {
    display: flex;
    justify-content: space-around;
    gap: 2rem;

    img {
      
    }
  }
}
