@use 'variaveis' as *;

header {
  width: 100%;
  height: 12vh;

  .navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;

    nav, ul {
      display: flex;
      gap: 50px;
      color: $text-primary;
      list-style: none;

      a {
        padding: 5px;
        text-decoration: none;
      }
    }
  }
}
