<div *ngIf="game; else erroCarregamento">
  <h1>{{ game.name }}</h1>
  <img [src]="game.background_image" alt="{{ game.name }}" />
  <p><strong>Gêneros:</strong> {{ generos }}</p>
  <p><strong>Plataformas:</strong> {{ plataformas }}</p>
  <p><strong>Lançamento:</strong> {{ game.released }}</p>
  <p><strong>Avaliação:</strong> {{ game.rating }} / 5</p>
  <p><strong>Descrição:</strong></p>
  <p>{{descricaoTraduzida}}</p>
</div>

<ng-template #erroCarregamento>
  <p>⛔ O jogo não pôde ser carregado.</p>
</ng-template>
