<section>

  <div class="games">
    <h1>Games</h1>

    <div class="btn">
      <button (click)="cadastrar()">Cadastrar Game</button>
    </div>

    <div class="card-container">

      <div class="card" *ngFor="let jogo of game">
        <div class="img-container">
          <img [src]="jogo.imagem" alt="">
          <button class="btn-detalhes" (click)="detalhes(jogo)">👁️</button>
        </div>


        <div class="info">
          <h3>{{ jogo.title }}</h3>
          <p> {{ jogo.genre }} </p>
          <p-rating
            [ngModel]="mediaAvaliacao(jogo)"
            [readonly]="true"
            [cancel]="false"
            [disabled]="true"
          ></p-rating>
          <p>Média: {{ mediaAvaliacao(jogo) | number: '1.1-1' }} </p>

        </div>
        <div class="acoes">
          <button class="btn" (click)="avaliacoes(jogo)">Avaliar</button>
          <button class="btn" (click)="editar(jogo)">Editar</button>
          <button class="btn" (click)="excluir(jogo)">Excluir</button>
        </div>
      </div>
    </div>
  </div>


  <h1 class="detalhe-h1">Detalhes</h1>
  <div class="detalhes">
    <div class="tops">
      <button>Top 5 Games</button>
      <button>Todas as Reviws</button>
    </div>
    <div class="totalGame">
      <h3>Total de Games</h3>
      <p> {{ totalGame }} </p>
    </div>
  </div>
</section>
