/* You can add global styles to this file, and also import other style files */
:root {
  --fundoPrincipal: #1B1F2B;
  --card-color: #2E3440;
  --text-primary: #ECEFF4;
  --text-secundary: #D8DEE9;
  --acoes-principais: #8F3AFF;
  --acoes-hover: #00FFF7;
  --erro: 	#BF616A;
  --sucesso: #A3BE8C;
}
