<form [formGroup]="form">
  <label for="titulo">Título</label>
  <input type="text" formControlName="title" id="titulo">

  <label for="genero">Gênero</label>
  <input type="text" formControlName="genre" id="genero">

  <label for="descricao">Descrição</label>
  <input type="text" formControlName="description" id="descricao">

  <label for="imagem">Imagem</label>
  <input type="text" formControlName="imagem" id="image">

  <label for="plataforma">Plataforma</label>
  <input type="text" formControlName="platform" id="plataforma">

  <div class="btn">
    <button>Salvar</button>
    <button>Cancelar</button>
  </div>
</form>
