<section>
  <h1>{{ titulo }}</h1>
  <form [formGroup]="form" (ngSubmit)="cadastrar()">
    <label for="titulo">Nome do Jogo</label>
    <input type="text" formControlName="title" id="titulo" placeholder="Nome do jogo">

    <label for="genre">Gênero</label>
    <select formControlName="genre" id="genre">
      <option value="">Selecione a categoria</option>
      <option value="acao">Ação</option>
      <option value="rpg">RPG</option>
      <option value="aventura">Aventura</option>
      <option value="corrida">Corrida</option>
      <option value="esporte">Esporte</option>
    </select>

    <label for="descricao">Descrição</label>
    <textarea formControlName="description" id="description" placeholder="Descrição do jogo"></textarea>

    <label for="imagem">Imagem</label>
    <input type="text" formControlName="imagem" id="image">

    <label for="plataforma">Plataforma</label>
    <select formControlName="platform" id="platform">
      <option value="">Selecione a plataforma</option>
      <option value="playstation">PlayStation</option>
      <option value="multiplataforma">Multiplataforma</option>
      <option value="pc">Xbox/PC</option>
    </select>

    <div class="btn">
      <button type="submit">Salvar</button>
      <button (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</section>
